@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
html body {
  overflow-x: hidden;
}
html body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff914d;
  font-size: 2rem;
  height: 6rem;
  width: 100vw;
  padding: 0 6rem;
  position: sticky;
  top: 0;
  border-bottom: #ffbd59 0.2rem solid;
  z-index: 1;
}
html body header h1 a {
  text-decoration: none;
  color: #ffffff;
}
html body header nav ul {
  display: flex;
  list-style: none;
  display: flex;
  list-style: none;
}
html body header nav ul li {
  padding: 2.5rem;
}
html body header nav ul li a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
}
html body header nav ul li a:after {
  content: "";
  position: absolute;
  top: 2.7rem;
  left: 50%;
  width: 0;
  height: 0.3rem;
  background-color: #ffbd59;
  transition: all 300ms ease-in-out;
}
html body header nav ul li a:hover::after {
  width: 50%;
  left: 25%;
}
html body main .front-page {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(126, 96, 60, 0.7)), url(../img/fundo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
}
html body main .front-page .first-page {
  margin: 6rem 70rem 0 7rem;
  color: #ffffff;
}
html body main .front-page .first-page h1 {
  font-size: 3.6rem;
  margin-top: 30rem;
  margin-bottom: 2rem;
  width: 60rem;
  font-weight: 600;
}
html body main .front-page .first-page span {
  color: #ff914d;
}
html body main .front-page .first-page h2 {
  display: flex;
  font-size: 2rem;
  align-items: center;
  font-weight: 400;
}
html body main .main-content {
  height: 100vh;
  font-size: 2.4rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  background-color: rgba(252, 251, 249, 0.8941176471);
}
html body main .main-content article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 6rem;
  margin-top: 12rem;
}
html body main .main-content article h1 {
  color: #ff914d;
  margin-bottom: 2rem;
}
html body main .main-content article p {
  line-height: 3rem;
  margin-bottom: 2rem;
}
html body main .main-content .strong p {
  font-weight: 600;
}
html body main .main-content .strong a {
  color: #ff914d;
  text-decoration: none;
  font-weight: 600;
}
html body main .main-content span {
  display: flex;
  align-items: center;
  margin: 0 6rem;
}
html body main .main-content span img {
  border-radius: 2rem;
}
html body main .account {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}
html body main .customer {
  height: 100vh;
  font-size: 2.4rem;
  background-color: background-color;
  display: flex;
  flex-direction: column;
}
html body main .customer h1 {
  color: #ff914d;
  margin: 12rem 0 5rem 8rem;
}
html body main .customer .center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
html body main .customer .center .depo {
  border-radius: 3rem;
  border: #ff914d 0.3rem solid;
  padding: 2.4rem;
  height: 38.5rem;
  width: 40rem;
  font-style: italic;
  font-size: 2.2rem;
}
html body main .customer .center .depo p {
  margin-bottom: 2rem;
}
html body main .customer .center .depo .user {
  display: flex;
}
html body main .customer .center .depo .user img {
  border-radius: 4rem;
}
html body main .customer .center .depo .user span {
  margin-left: 1rem;
  font-size: 2rem;
}
html body main .customer .center .depo:hover {
  transform: scale(1.05);
  transition: all 400ms ease-in-out;
}
html body main .contat {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
}
html body main .contat .text p {
  font-size: 2rem;
}
html body main .contat .icon {
  margin-top: 2rem;
}
html body main .contat .icon a img {
  border-radius: 0.8rem;
}
html body main .contat .form {
  display: flex;
  align-items: center;
  width: 80rem;
  margin-top: 5rem;
}
html body main .contat .form fieldset {
  border: none;
  font-size: 1.5rem;
  margin-left: 37rem;
}
html body main .contat .form fieldset .input-data {
  height: 4rem;
  width: 100%;
  position: relative;
  margin-bottom: 3.3rem;
}
html body main .contat .form fieldset .input-data input,
html body main .contat .form fieldset .input-data textarea {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 1.7rem;
  border-bottom: 0.2rem solid silver;
  outline: none;
}
html body main .contat .form fieldset .input-data input:focus ~ label,
html body main .contat .form fieldset .input-data input:valid ~ label,
html body main .contat .form fieldset .input-data textarea:focus ~ label,
html body main .contat .form fieldset .input-data textarea:valid ~ label {
  transform: translateY(-3rem);
  font-size: 1.5rem;
  border-color: transparent;
}
html body main .contat .form fieldset .input-data label {
  position: absolute;
  bottom: 1.3rem;
  left: 0;
  color: gray;
  pointer-events: none;
  transition: all 0.3s ease;
}
html body main .contat .form fieldset .input-data .underline {
  position: absolute;
  bottom: 0;
  height: 0.2rem;
  width: 100%;
}
html body main .contat .form fieldset .input-data .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #ff914d;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
html body main .contat .form fieldset .input-data input:focus ~ .underline:before,
html body main .contat .form fieldset .input-data input:valid ~ .underline:before,
html body main .contat .form fieldset .input-data textarea:focus ~ .underline:before,
html body main .contat .form fieldset .input-data textarea:valid ~ .underline:before {
  transform: scaleX(1);
}
html body main .contat .form fieldset button {
  border-radius: 2rem;
  cursor: pointer;
  padding: 1rem;
  border: none;
  width: 30rem;
  background-color: #ff914d;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 500;
}
html body main .contat .form fieldset button:active {
  transform: scale(1.1);
}
html body main .contat .form fieldset .sent {
  margin: 2rem 0 0 0;
  color: green;
}
html body footer .footer {
  display: flex;
  height: 6rem;
  background-color: #ff914d;
  justify-content: center;
  align-items: center;
}
html body footer .footer span img {
  border-radius: 0.4rem;
  margin-right: 4rem;
}
html body footer .footer p {
  color: #ffffff;
  font-size: 1.6rem;
}
@media screen and (max-width: 376px) {
  html body {
    width: 100vw;
  }
  html body main .front-page .first-page {
    display: flex;
    margin-left: 1rem;
  }
  html body main .front-page .first-page h1 {
    font-size: 2rem;
    margin-top: 28rem;
  }
  html body main .front-page .first-page h2 {
    margin-top: 22rem;
    margin-left: -27rem;
    font-size: 1.35rem;
    text-align: right;
    word-break: break-word;
    max-width: 100%;
  }
  html body main .main-content {
    display: grid;
    grid-template-columns: 1fr;
  }
  html body main .main-content article {
    margin: 0 2rem 0 2rem;
    text-align: justify;
  }
  html body main .main-content article h1 {
    font-size: 2rem;
  }
  html body main .main-content article p {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  html body main .main-content span img {
    width: 15rem;
  }
}/*# sourceMappingURL=style.css.map */